body {
    background-color: #aecfc8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
    margin: 0px;
}

h1 {
    background-color: #aeb6cf;
    text-align: center;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    
}
